qubershipApihubTrafficAnalyzer:
  env:
    snifferApiKey: '${SNIFFER_API_KEY}'
    qubershipApihub:
      accessToken: '${ACCESS_TOKEN}'
    s3storage:
      username: '${STORAGE_SERVER_USERNAME}'
      password: '${STORAGE_SERVER_PASSWORD}'
      crt: '${STORAGE_SERVER_CRT}'
      url: '${STORAGE_SERVER_URL}'
      bucketName: '${STORAGE_SERVER_BUCKETNAME}'

